.header{
    height: 120px;
    background-image: linear-gradient(0,#fe6032,#f7472f);
}
.top-header{
    display: flex;
    justify-content: space-between;
}
.top-header__list{
    list-style: none;
    display: inline-block;
    padding-left: 0;
}
.top-header__list-item{
    margin: 0 8px;
    position: relative;
}
.top-header__list-item:hover
,.top-header__list-item > a:hover{
    color: rgba(255,255,255,0.7);
}
.top-header__list-item,
.top-header__list-item > a{
    display: inline-block;
    color: var(--white-color);
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 300;
    cursor: pointer;
}
.list-item--strong{
    font-weight: 500;
}
.top-header__list-item--separate::after{
    position: absolute;
    content: "";
    display: block;
    border:1px solid #fB9086;
    height: 14px;
    top:50%;
    transform: translateY(-50%);
    right: -8px;
}

.top-header__list-item-link{
    color: var(--white-color);
    text-decoration: none;
}
.header__nav-icon{
    font-size: 1.8rem;
    margin: 0 2px;
}
.top-.header__list-item--no-pointer{
    cursor: text;
}
/* QR code */
.header-QR{
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    border-radius: 2px;
    top: 118%;
    left: 10%;
    display: none;
}
.header-QR::before{
    position: absolute;
    left: 10%;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}
.top-header__list-item--QR-open:hover .header-QR{
    display: block;
    z-index: 1;
}
.header-QR__img{
    width: 100%;
    padding: 8px;
}
.header-QR__app{
    display: flex;
    width: 100%;
}
.header-QR__link-download{
    width: 50%;
}
.header-QR__link-download:nth-child(1){
    margin-left: 11px;
}
.header-QR__link-download img{
    height: 1.8rem;
    width: 100%;
    padding:0 5px;
}
/* Notify */
.Notify{
    position: absolute;
    top: 150%;
    width: 404px;
    background-color: var(--white-color);
    right: 0;
    border: #d3d3d3 solid 1px;
    cursor: default;
   /* user-select: none; */
   transform-origin:calc(100% - 20px) top;
   animation: Notifyanimation ease-in 0.2s;
   -webkit-animation: Notifyanimation ease-in 0.2s;
   -o-animation: Notifyanimation ease-in 0.2s;
   will-change: opacity, transform;
   display: none;
   z-index: 1;
}
.top-header__list-item--notify:hover .Notify{
    display: block;
}
@keyframes Notifyanimation{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.Notify::before{
    content: "";
    border:solid;
    border-width:20px 26px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0;
    top: -30px;
}
.Notify::after{
    content: "";
    display: block;
    position: absolute;
    top: -14px;
    right: 0;
    width: 90px;
    height: 20px;
}

.Notify__header{
    width: 100%;
    background-color: var(--white-color);
    height: 40px;
    border-bottom: solid #ccc 1px;
}


.Notify__header h3{
    text-align: center;
    color: #666;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    margin: 0;
}
.Notify__list{
    width: 100%;
    padding-left: 0;
}
.Notify__list-item{
    display: flex;
}
.Notify__list-item:hover{
    background-color: #f7f7f7;
}
.Notify__list-item--viewed{
    background-color: rgba(247,69,46,0.09);
}
.Notify__link{
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}
.Notify__img{
    width: 48px;
    object-fit: contain;
}
.Notify__info{
    flex: 1;
    margin-left: 12px;
}
.Notify__name,
.Notify__description{
    display: block;
    margin: 5px 0;
}
.Notify__name{
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}
.Notify__description{
    font-size: 1.3rem;
    color: #ccc;
    margin-top: 4px;
}
.Notify__footer{
    width: 100%;
    display: flex;
}
.Notify__footer a{
    padding: 10px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    margin: auto;
}
/* Form đăng nhập/đăng ký */

.Auth-form{
    width: 500px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 3px;
}
.Auth-form__container{
    padding: 32px;
}
.Auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Auth-form__heading{
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--text-color);
}
.Auth-form__switch-btn{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}
.Auth-form__body{
    width: 100%;
}
.Auth-form__input{
    height: 40px;
    width: 100%;
    margin-bottom: 16px;
    padding: 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    outline: none;
}
.Auth-form__input:focus{
    border-color: #888;
}
.Auth-form__aside{
    margin-top: 16px;
    padding: 0 12px;
}
.Auth-form__policy-text{
    font-size: 1.3rem;
    line-height: 1.6rem;
    text-align: center;
}
.Auth-form__policy-text-link{
    color: var(--primary-color);
    text-decoration: none;
}
.Auth-form__control{
    margin-top:80px;
    display: flex;
    justify-content: flex-end;
}
.Auth-form__control-back{
    margin-right:10px;
}
.Auth-form__social{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f5f5;
    padding: 14px 50px;
}
.social-icon{
    font-size: 2rem;
}
.Auth-form__social--facebook{
    color: var(--white-color);
    background-color:#355398; 
}
.Auth-form__social--google{
    color: #666;
    background: var(--white-color);
}
.Auth-form__social--title{
    padding: 0 20px;
}

.Auth-form__help{
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.Auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}
.Auth-form__aside--separate{
    display: block;
    border-left:1px solid var(--border-color);
    height: 18px;
    margin: 0 16px;
}
.Auth-form__help--forgot-password{
    color: var(--primary-color);
}

.search{
    height: 79px;
    display: flex;
    align-items: center;
}
/* LOGO */
.header__logo{
    width: 150px;
    padding: 0 8px;
}
/* search */
.search-box{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color:#fff;
    flex: 1;
    height: 40px;
    display: flex;
}
.search-box__wrap{
    position: relative;
    flex: 1;
    height: 100%;
    width: 100%;
}
.search-box__input{
    height: 100%;
    width: 100%;
    border-radius: 40px;
    background-color:#fff;
    outline: none;
    border: none;
    padding: 0 20px;
    font-size: 1.6rem;
}
.search-box__select{
    position: relative;
    padding: 0 10px;
    line-height: 40px;
    font-size: 1.4rem;
}
.search-box__select:hover .search-box__option{
    display: block;
}
.search-box__option{
    position: absolute;
    right: 0;
    top: 100%;
    padding: 0;
    background: var(--white-color);
    list-style-type:none ;
    border-radius: 3px;
    margin-top: 2px;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
    animation: fadein ease-in 0.2s;
} 
.search-box__option::after{
    content: "";
    display: block;
    height: 20px;
    width: 100%;
    position: absolute;
    top: -10px;
    left: 0;
}
.search-box__option-item{
    cursor: pointer;
    padding: 8px 8px;
    font-size: 1.4rem;
}
.search-box__option-item:hover{
    background-color: #fafafa;
}
.search-box__option-item i{
    color: var(--primary-color);
    display: none;
}
.search-box__option-item--active i{
    display: inline-block;
}
.search-box__select-label{
    border-left:1px solid var(--border-color) ;
    padding-left:16px;
}
.search-box__icon{
    width: 40px;
    min-height: 40px;
    font-size: 1.6rem;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d3d3d3;
    border-radius: 40px;
}
.search-box__history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 100%;
    background:var(--white-color);
    border-radius: 3px;
    box-shadow:0 1px 5px #999;
    display: none;
    overflow: hidden;
}
.search-box__input:focus ~ .search-box__history{
    display: block;
}
.search-box__history-title{
    margin: 10px 15px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.search-box__history-list{
    padding-left: 0;
    list-style: none;
    margin:6px 0px 0px;
}
.search-box__history-item{
    height: 38px;
    padding: 0 16px;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
}
.search-box__history-item:hover{
    background: #fafafa;
}
.search-box__history-item a{
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
}
/* cart */
.header__cart{
    width: 150px;
    text-align: center;
    align-items: center;
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}

.header__cart-wrap:hover .cart__list{
    display: block;
}
.header__cart-icon{
    font-size: 2rem;
    color: var(--white-color);
}
.cart__list{
    position: absolute;
    top: calc(100% + 12px);
    right: -8px;
    width: 400px;
    background: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 2px 10px #ccc;
    display: none;
    animation: fadein ease-in 1s;
    cursor: default;
}

.cart__list::after{
    position: absolute;
    content: "";
    right: 4px;
    top: -24px;
    border-width: 15px 20px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    cursor: pointer;
}
.cart__list--no-cart .cart__img--no-cart,
.cart__list--no-cart .cart__list span
{ 
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.cart__img--no-cart{
    width: 54%;
    padding: 24px 0;
    display: none;
}
.cart__list span{
    display: none;
    font-size: 1.4rem;
    margin: 12px 0;
    color: var(--text-color);
} 
.header__cart-noitice{
    position: absolute;
    right: -6px;
    top: -10px;
    padding:1px 7px;
    border-radius: 50%;
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 2px solid #ee4d2d;
}

